extends ../layout/app

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
    link(rel="stylesheet", href="/css/styles.css")

block contenido
    <div class="bg-white">
        <div class="pt-6 ">
            <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl text-center mt-10 mb-10">Analisis detallado</h1>
            <nav aria-label="Breadcrumb" class="px-5">
                <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-6">
                    <li>
                        <div class="flex items-center">
                            <a href="#" class="mr-2 text-sm font-medium text-gray-900">Categoria</a>
                            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
                                <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
                            </svg>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            a( href="#" class="mr-2 text-sm font-medium text-gray-900")= analisis.categoria.nombre
                            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
                                <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
                            </svg>
                        </div>
                    </li>
                </ol>
            </nav>
            <div class="mx-auto max-w-2xl px-4 pb-16 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-4 lg:px-4 lg:pt-4 lg:pb-4">
                <div class="lg:col-span-2">
                    <div style="height: 500px;" class="mb-5 aspect-h-5 aspect-w-4 lg:aspect-h-4 lg:aspect-w-3 sm:overflow-hidden sm:rounded-lg">
                        //- img(src=`/uploads/${analisis.imagen}` class="rounded-lg h-full w-full object-cover object-center")
                        img(src=`${analisis.imagen}` class="rounded-lg h-full w-full object-cover object-center hover:scale-110 transition duration-500 cursor-pointer")
                    </div>
                    <div class="lg:row-span-2 lg:mt-0">
                        <div class="px-5 py-5 space-y-5 ">
                            <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl"> Informacion del analisis</h1>
                            //- <div class="grid grid-cols-1 md:grid-cols-2 lg:border-r lg:border-gray-20">
                            <div class="grid grid-cols-1 md:grid-cols-2">
                                <div class="mt-4">
                                    <h2 id="titulo" class="text-sm font-medium text-gray-900">Titulo</h2>
                                    <div class="mt-2 space-y-6">
                                        p(class="text-sm text-gray-600")=analisis.titulo
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <h2 class="text-sm font-medium text-gray-900">Descripcion</h2>
                                    <div class="mt-2 space-y-6">
                                        p(class="text-sm text-gray-600")=analisis.descripcion
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <h2 class="text-sm font-medium text-gray-900">Cultivo</h2>
                                    <div class="mt-2 space-y-6">
                                        p(class="text-sm text-gray-600")= analisis.cultivo.nombre
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <h2 class="text-sm font-medium text-gray-900">Fecha</h2>
                                    <div class="mt-2 space-y-6">
                                        //- p(class="text-sm text-gray-600")=formatearFecha(analisis.createdAt)
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <h2 class="text-sm font-medium text-gray-900">Observaciones</h2>
                                    <div class="mt-2 space-y-6">
                                        p(class="text-sm text-gray-600")= analisis.observaciones
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <h2 class="text-sm font-medium text-gray-900">Temeperatura</h2>
                                    <div class="mt-2 space-y-6">
                                        p(class="text-sm text-gray-600")= analisis.temperatura + "°C"
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <h2 class="text-sm font-medium text-gray-900">Edad</h2>
                                    <div class="mt-2 space-y-6">
                                        p(class="text-sm text-gray-600")= analisis.edad
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <h2 class="text-sm font-medium text-gray-900">Altitud</h2>
                                    <div class="mt-2 space-y-6">
                                        p(class="text-sm text-gray-600")= analisis.altura
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <h2 class="text-sm font-medium text-gray-900">Estado de la planta</h2>
                                    <div class="mt-2 space-y-6">
                                        p(class="text-sm text-gray-600" id="prediccion")= analisis.prediccion
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <h2 class="text-sm font-medium text-gray-900">Nivel de confianza</h2>
                                    <div class="mt-2 space-y-6">
                                        p(class="text-sm text-gray-600")= analisis.confianza
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="section-control-plagas" style="display: block;" class="px-5 py-5 space-y-5 border-t border-gray-200 mt-5">
                            <div>
                                <div class="px-4 sm:px-0">
                                    <h3 class="text-base font-semibold leading-7 text-gray-900">Manejo Integrado de Plagas y Enfermedades
                                    </h3>
                                    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Aplicaciones y recomendaciones MAGA-2023 ©</p>
                                </div>
                                <div class="mt-6 border-t border-gray-100">
                                    <dl class="divide-y divide-gray-100">
                                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                            <dt class="text-sm font-medium leading-6 text-gray-900">Medidas físicas</dt>
                                            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                                                <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
                                                    <li class="text-gray-400"><span class="text-gray-600">Uso de mallas antitrips, con una densidad de 10x14 a 26x26 hilos/cm2.</span></li>
                                                    <li class="text-gray-400"><span class="text-gray-600">Uso de acolchado plástico reflejante de rayos UV.</span></li>
                                                    <li class="text-gray-400"><span class="text-gray-600">Evitar un exceso de fósforo en la nutrición del cultivo.</span></li>
                                                </ul>
                                            </dd>
                                        </div>
                                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                            <dt class="text-sm font-medium leading-6 text-gray-900">Control biológico</dt>
                                            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                                                El cultivo en invernadero permite hacer uso de agentes de control biológico de forma eficiente.
                                                <a href="#" id="ver-tabla" class="flex items-center justify-center gap-x-2.5 p-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-100">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon h-5 w-5 flex-none text-gray-400" viewBox="0 0 512 512"><path d="M32 32v432a16 16 0 0016 16h432" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="96" y="224" width="80" height="192" rx="20" ry="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="240" y="176" width="80" height="240" rx="20" ry="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><rect x="383.64" y="112" width="80" height="304" rx="20" ry="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg> Ver Tabla </a>
                                            </dd>
                                        </div>
                                        <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" style="display: none;" id="modal-control-biologico">
                                            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
                                            <div class="fixed inset-0 z-10 overflow-y-auto">
                                                <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                                                    <div style=" width: 800px !important;" class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all mx:my-8 mx:w-full mx:max-w-lg">
                                                        <div class="bg-white ">
                                                            <div class="mx:flex mx:items-center my-4">
                                                                <div  class="mt-3 text-center xm:text-left">
                                                                    <div class="flex flex-nowrap">
                                                                        <div>
                                                                            <h3 class="text-base p-4 ml-1 font-semibold leading-6 text-gray-900 items-center justify-center" id="modal-title"> Control biológico</h3>
                                                                        </div>
                                                                        <div class="flex items-center justify-center">
                                                                            <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                                                                                <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                                                                                </svg>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <button type="button" id="cerrar-modal" class="absolute right-4 top-4 text-gray-400 hover:text-gray-500 sm:right-6 sm:top-8 md:right-6 md:top-6 lg:right-8 lg:top-8">
                                                                        <span class="sr-only">Close</span>
                                                                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                                                        </svg>
                                                                    </button>
                                                                    <div class="mt-2 p-4 mb-14">
                                                                        <div class="overflow-x-auto rounded-lg border border-gray-200 text-center">
                                                                            <table class="max-w-full divide-y-2 divide-gray-200 bg-white text-sm">
                                                                                <thead class="ltr:text-left rtl:text-right">
                                                                                    <tr>
                                                                                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">No</th>
                                                                                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Comportamiento</th>
                                                                                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Clasificación</th>
                                                                                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Especie</th>
                                                                                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Estado de Thysanoptera</th>
                                                                
                                                                                    </tr>
                                                                                </thead>                        
                                                                                <tbody class="divide-y divide-gray-200">
                                                                                    <tr>
                                                                                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900" rowspan="5">1</th>
                                                                                        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900" rowspan="5">Depredadores</td>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700" rowspan="3">Acaros</td>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Amblyseius cucumeris</td>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Larvas</td>
                                                                                    </tr>                            
                                                                                    <tr>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Amblyseius californicus</td>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Larvas</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Amblyseius swirkii</td>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Larvas</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700" rowspan="2">Hemipteros</td>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Neoseiulus cucumeris</td>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Huevos y Larvas</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Orius insidiosus</td>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Larvas y Adultos</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900" rowspan="2">2</th>
                                                                                        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900" rowspan="2">Entomopatógeno</td>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700" rowspan="2">Nematodos, Hongos</td>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Steinernema feltiae</td>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Pupa, prepupa y larvas</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Beauveria bassiana</td>
                                                                                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Adultos</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                            <dt class="text-sm font-medium leading-6 text-gray-900">Control quimico</dt>
                                            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Para mantener lo más posible la eficacia de los insecticidas, se debe hacer un MIR: manejo integrado de la resistencia.
                                                <ul role="list" class="list-disc space-y-2 pl-4 text-sm mt-4">
                                                    <li class="text-gray-400"><span class="text-gray-600">Aplicar únicamente cuando se llegue al umbral económico detectado en los monitoreos.</span></li>
                                                    <li class="text-gray-400"><span class="text-gray-600">Rotar los modos de acción de los insecticidas en cada aplicación.</span></li>
                                                    <li class="text-gray-400"><span class="text-gray-600">Usar los insecticidas en rotación con agentes entomopatógenos como Beauveria bassiana e insecticidas biorracionales como el extracto de Neem y.</span></li>
                                                    <li class="text-gray-400"><span class="text-gray-600">Usar insecticidas compatibles con el control biológico (ácaros depredadores, especialmente)..</span></li>
                                                    <li class="text-gray-400"><span class="text-gray-600">Dejar los insecticidas de más amplio espectro (organofosforados, carbamatos, neonicotinoides) para el final del ciclo de cultivo.</span></li>
                                                </ul>
                                            </dd>
                                        </div>
                                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                                            <dt class="text-sm font-medium leading-6 text-gray-900">Documento relacionas al manejo integrado de plagas</dt>
                                            <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                                <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
                                                    <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                                        <div class="flex w-0 flex-1 items-center">
                                                            <svg class="h-5 w-5 flex-shrink-0 text-gray-400"viewBox="0 0 20 20" fill="currentColor"aria-hidden="true">
                                                                <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                                                            </svg>
                                                            <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                                                <span class="truncate font-medium">Ficha Técnica INIA N° 02.pdf</span>
                                                                <span class="flex-shrink-0 text-gray-400">2.4mb</span>
                                                            </div>
                                                        </div>
                                                        <div class="ml-4 flex-shrink-0">
                                                            <a href="/archivos/Ficha Técnica INIA N° 02.pdf" download="Ficha Técnica INIA N° 02.pdf"  class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                                                        </div>
                                                    </li>
                                                    //- <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                                    //-     <div class="flex w-0 flex-1 items-center">
                                                    //-         <svg class="h-5 w-5 flex-shrink-0 text-gray-400"viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    //-             <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"clip-rule="evenodd" />
                                                    //-         </svg>
                                                    //-         <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                                    //-             <span class="truncate font-medium">coverletter_back_end_developer.pdf</span>
                                                    //-             <span class="flex-shrink-0 text-gray-400">4.5mb</span>
                                                    //-         </div>
                                                    //-     </div>
                                                    //-     <div class="ml-4 flex-shrink-0">
                                                    //-         <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                                                    //-     </div>
                                                    //- </li>
                                                </ul>
                                            </dd>
                                        </div>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="mt-4 lg:row-span-2 lg:mt-0" style="z-index: 1">
                    <div style="height: 500px;" id="mapa" class=" p-4 mb-5 aspect-h-5 aspect-w-4 lg:aspect-h-4 lg:aspect-w-3 sm:overflow-hidden sm:rounded-lg">
                        p(id="lat" class="hidden")= analisis.lat
                        p(id="lng" class="hidden")= analisis.lng                    
                    </div>

                div(class="p-5")
                    p(class="text-gray-600 font-bold text-xs") Dirección
                        span(id="calle" class="text-gray-800 block text-lg")= analisis.calle

                    <div class="px-5 py-5 space-y-5">
                        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl text-center">Ubicacion</h1>
                        <div class="mt-4">
                            <h2 class="text-sm font-medium text-gray-900">Direccion</h2>
                            <div class="mt-2 space-y-6">
                                p(class="text-sm text-gray-600")=analisis.calle
                            </div>
                        </div>
                    if !esAgricultor
                        <div class="mt-4">
                            <h2 class="text-sm font-medium text-gray-900">Usuario</h2>
                            <div class="mt-2 space-y-6">
                                p(class="text-sm text-gray-600" id="agricultor")= usuario.nombre
                            </div>
                        </div>
                    </div>
                    <div class="px-5 py-5 space-y-5 mt-5">
                        <h4 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl text-center">Mensajes</h4>
                        if enviado
                            p(class="p-2 text-center bg-green-100 text-green-600 uppercase font-bold") Mensaje Enviado Correctamente
                        else if usuario
                            if errores
                                div(class="max-w-md mx-auto my-10")
                                    each error in errores
                                        p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg                        
                            <form action="POST">
                                input(type="hidden" name="_csrf" value= csrfToken)
                            
                                <div class="col-span-full">
                                    <h2 class="text-sm font-medium text-gray-900">Mensaje</h2>
                                    <div class="mt-2">
                                        <textarea id="mensaje" name="mensaje" rows="3" class="px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                                        <p class="mt-3 text-sm text-gray-600">Envia un mensaje o comentario sobre el analisis realizado al agricultor.</p>
                                        <input type="submit" value="Enviar Mensaje" class=" mt-10 flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                    </div>
                                </div>
                            </form>
                        else 
                            div(class="flex flex-col items-center justify-center gap-2")
                                p(class="text-center") Si deseas contactar al agricultor
                                a(class="text-emerald-600" href="/auth/registro") debes crear una cuenta
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto mt-32 w-full max-w-container px-4 sm:px-6 lg:px-8">
        <div class="border-t border-slate-900/5 py-10 text-center">
            <img class="h-8 w-auto" src="/img/icon.svg" style="margin: 0 auto;" alt="icono-cropshield">
            <p class="mt-5 text-center text-sm leading-6 text-slate-500">© 2023 Jordy Vega. All rights reserved.</p>
        </div>
    </div>  


block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="/js/mostrarMapa.js")
    script(src="/js/scripts.js")
    script(src="/js/script-modal.js")
    script(src="/js/mostrar-secction.js")