extends ../layout/admin

block styles
    meta(name="csrf-token" content= csrfToken)

block contenido
    <div class="py-16 mx-4">
        <div class="grid mb-4 pb-10">
            <div class="grid grid-cols-12 gap-6">
                <div class="grid grid-cols-12 col-span-12 gap-6 xxl:col-span-9">
                    <div class="col-span-12 mt-8">
                        <div class="grid grid-cols-12 gap-6 mt-5">
                            <a class="transform  hover:scale-105 transition duration-300 bg-white border border-gray-200 rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white" href="#">
                                <div class="p-5">
                                    <div class="flex justify-between">
                                        img(src="/img/analisis.png", alt="icono" class="h-8 w-8")
                                        <div class="bg-green-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                            <span class="flex items-center">100%</span>
                                        </div>
                                    </div>
                                    if !esAgricultor
                                        p(id="usuarioId" class="text-sm text-gray-600" hidden)= usuario.id
                                    else 
                                        p(class="text-center") No se encontraron datos

                                    <div class="ml-2 w-full flex-1">
                                        <div>
                                            div(class="whitespace-nowrap mt-4 font-bold text-gray-900 ")=analisisCt
                                            <div class="whitespace-nowrap mt-2 font-light text-gray-900">Total de Análisis</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="transform  hover:scale-105 transition duration-300 bg-white border border-gray-200 rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white" href="#">
                                <div class="p-5">
                                    <div class="flex justify-between">
                                        img(src="/img/planta_saludable.png", alt="icono" class="h-8 w-8")
                                        <div class="bg-yellow-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                            span(class="flex items-center")=promedioSaluR + "%"
                                        </div>
                                    </div>
                                    <div class="ml-2 w-full flex-1">
                                        <div>
                                            div(class="whitespace-nowrap mt-4 font-bold text-gray-900")=analisisPrediccionSana
                                            <div class="whitespace-nowrap mt-2 font-light text-gray-900">Planta Saludable</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="transform  hover:scale-105 transition duration-300 bg-white border border-gray-200 rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white" href="#">
                                <div class="p-5">
                                    <div class="flex justify-between">
                                        img(src="/img/planta_enferma.png", alt="icono" class="h-8 w-8")
                                        <div class="bg-red-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                            span(class="flex items-center")= promedioEnfR + "%"
                                        </div>
                                    </div>
                                    <div class="ml-2 w-full flex-1">
                                        <div>
                                            div(class="whitespace-nowrap mt-4 font-bold text-gray-900")=analisisPrediccionEnfermo
                                            <div class="whitespace-nowrap mt-2 font-light text-gray-900">Planta Enferma Trips</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="transform  hover:scale-105 transition duration-300 bg-white border border-gray-200 rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white" href="#">
                                <div class="p-5">
                                    <div class="flex justify-between">
                                        img(src="/img/grafico.png", alt="icono" class="h-8 w-8")
                                        <div class="bg-gray-400 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                            <span class="flex items-center">100%</span>
                                        </div>
                                    </div>
                                    <div class="ml-2 w-full flex-1">
                                        <div>
                                            div(class="whitespace-nowrap mt-4 font-bold text-gray-900")=promedioRedondeado + "%"
                                            <div class="whitespace-nowrap mt-2 font-light text-gray-900">Confianza de Predicciones</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-span-12 mt-5">
                        <div class="grid gap-2 grid-cols-1 lg:grid-cols-2" >
                            <canvas class="bg-white border border-gray-200 rounded-lg p-4" style="margin: 0 auto;" id="myChart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="text-md font-medium text-gray-900">Tabla de registros</h2>
        <p class="text-sm text-gray-600">A continuación se presentan todos los registros realizados por los usuarios en las plantaciones de chile jalapeño en la región de Gualán, Zacapa.</p>
        <div class="overflow-x-auto rounded-lg border border-gray-200 mb-4 mt-4">
            <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
                <thead class="ltr:text-left rtl:text-right">
                    <tr>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Titulo</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Descripción</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Area de análisis</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Observaciones</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Temeperatura</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Altura</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Edad</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Dirección</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Latitud</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Longitud</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Predicción</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Confianza</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Create</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Cultivo</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Categoria</th>
                        <th class="whitespace-nowrap px-4 py-2 font-normal text-gray-900">Usuario</th>
                    </tr>
                </thead>
            if analisis.length
                <tbody class="divide-y divide-gray-200">
                each analisi in analisis
                    <tr> 
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.titulo
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.descripcion
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.area
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.observaciones
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.temperatura
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.altura
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.edad
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.calle
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.lat
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.lng
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.prediccion
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.confianza
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=formatearFecha(analisi.createdAt)
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.cultivo.nombre
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.categoria.nombre
                        td(class="whitespace-nowrap px-4 py-2 font-light text-gray-900")=analisi.usuario.nombre
                    </tr>
                </tbody>
            </table>        
        </div>
        <div class="flex items-center justify-between bg-white px-4 py-3 sm:px-6">
            <div class="flex flex-1 justify-between sm:hidden">
                <a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
                <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
            </div>
            <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                <div>
                    <p class="text-sm text-gray-700">Registros 
                        span(class="font-medium") #{offset + 1} a 
                        span(class="font-medium") #{total < limit + offset ? total : limit + offset} de 
                        span(class="font-medium") #{total} resultados  
                    </p>
                </div>
                <div>
                    <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                        a(href=`/analisis?pagina=${paginaActual - 1}` class=`${paginaActual === "1" ? 'pointer-events-none' : ''} relative inline-flex items-center` class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0")
                            <span class="sr-only">Anterior</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                            </svg>
                        div(class="hidden sm:block")
                            nav(class="relative z-0 inline-flex rounded-md shadow-md")
                                - var n = 1;
                                    while n <= 10
                                        a(href=`/analisis?pagina=${n}` class=`${paginaActual == n ? 'bg-indigo-600 border-indigo-50 text-white'  : 'hover:bg-gray-50 focus:z-20 focus:outline-offset-0 ' } relative inline-flex items-center px-4 py-2 border text-sm font-medium`) #{n++}

                        a(href=`/analisis?pagina=${paginaActual + 1}` class=`${paginaActual === paginas ? 'pointer-events-none' : ''} relative inline-flex items-center ` class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0")
                            <span class="sr-only">Next</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                            </svg>
                    </nav>
                </div>
            </div>
        </div>   
    </div>
    <div class="mx-auto w-full max-w-container px-4 sm:px-6 lg:px-8">
        <div class="border-t border-slate-900/5 py-10 text-center">
            <img class="h-8 w-auto" src="/img/icon.svg" style="margin: 0 auto;" alt="icono-cropshield">
            <p class="mt-5 text-center text-sm leading-6 text-slate-500">© 2023 Jordy Vega. All rights reserved.</p>
        </div>
    </div>  


block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js") 
    script(src="/js/scriptAdmin.js")
    script(src="/js/graficas.js") 